.navbar-container {
    width: 100vw;
    height: 10vh;
    position: relative;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
  }
  .page-title {
    cursor: pointer;
    color: #000;
    margin-left: 10px;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .navbar-btns {
    display: flex;
    gap: 1.5rem;
    height: 5vh;
    margin-top: 3px;
    margin-right: 10px;
    
  }
  .register-btn {
    width: 100px;
    height: 30px;
  
    border-radius: 15px;
    background: #fd7e7e;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
  }
  .register-btn:active {
    background-color: #ee6565;
  }
  .signin-btn {
    width: 100px;
    height: 30px;
  
    border-radius: 15px;
    background: #7bb0ff;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border: none;
  }
  .signin-btn:active {
    background: #699dec;
  }
  .bookmarks-btn {
    display: flex;
    align-items: center;
  
    height: 35px;
  
    border-radius: 15px;
    background: #fd7e7e;
    color: #fff;
  
    font-family: DM Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border: none;
    padding: 8px 12px;
    text-transform: none;
  }
  .profile-icon {
    width: 40px;
    height: 40px;
    filter: brightness(120%);
    border-radius: 50%;
  }
  .menu-icon {
    margin-top: 5px;
    cursor: pointer;
  }
  .profile-card {
    top: 11vh;
    right: 10px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    padding-top: 20px;
    width: 15vw;
    height: 20vh;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .profile-card img {
    margin-left: 140px;
    cursor: pointer;
  }
  .username {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .logout-btn {
    width: 100px;
    height: 35px;
  
    border-radius: 15px;
    background: #fd7e7e;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
  }
  .logout-btn:active {
    background-color: #ee6565;
  }
  @media screen and (min-width: 1400px) {
    .navbar-container {
      padding: 15px 10px;
    }
    .page-title {
      font-size: 36px;
    }
    .navbar-btns {
      display: flex;
      gap: 1.5rem;
      height: 5vh;
      margin-top: 3px;
      margin-right: 20px;
      /* border: 2px solid red; */
    }
    .register-btn {
      width: 120px;
      height: 35px;
      font-size: 1rem;
    }
  
    .signin-btn {
      width: 120px;
      height: 35px;
      font-size: 1rem;
    }
  
    .bookmarks-btn {
      font-size: 1rem;
    }
    .profile-icon {
      width: 45px;
      height: 45px;
      filter: brightness(120%);
      border-radius: 50%;
    }
    .menu-icon {
      margin-top: 5px;
      cursor: pointer;
    }
  
    .profile-card img {
      margin-left: 140px;
      cursor: pointer;
    }
    .username {
      font-size: 20px;
    }
    .logout-btn {
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 750px) {
    .navbar-container {
      width: 100vw;
      height: 10vh;
      position: relative;
      background: #fff;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      display: flex;
      justify-content: space-between;
      padding: 10px 10px;
      box-sizing: border-box;
    }
    .page-title {
      cursor: pointer;
      color: #000;
      margin-left: 10px;
      margin-top: 10px;
      font-family: DM Sans;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .navbar-btns {
      display: flex;
      gap: 1.5rem;
      height: 5vh;
      margin-top: 3px;
      margin-right: 10px;
      /* border: 2px solid red; */
    }
    .register-btn {
      width: 150px;
      height: 40px;
  
      border-radius: 15px;
      background: #fd7e7e;
      color: #fff;
      text-align: center;
      font-family: DM Sans;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
      border: none;
      padding: 5px 10px;
    }
    .register-btn:active {
      background-color: #ee6565;
    }
    .signin-btn {
      width: 150px;
      height: 40px;
  
      border-radius: 15px;
      background: #7bb0ff;
      color: #fff;
      text-align: center;
      font-family: DM Sans;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
      border: none;
    }
    .signin-btn:active {
      background: #699dec;
    }
    .bookmarks-btn {
      width: 150px;
      height: 40px;
      border-radius: 20px;
      text-align: center;
      font-family: DM Sans;
      font-size: 1rem;
  
      border: none;
      padding: 0px 20px;
    }
    .profile-icon {
      width: 50px;
      height: 50px;
      filter: brightness(120%);
      border-radius: 50%;
    }
    .menu-icon {
      width: 30px;
      margin-top: 10px;
      margin-right: 20px;
      cursor: pointer;
    }
    .profile-card {
      top: 10vh;
      right: 0px;
      position: absolute;
  
      z-index: 1;
      float: none;
      padding-top: 10px;
      width: 100%;
      height: 40vh;
      background: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .profile-contentbox {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      align-items: center;
    }
    .profile-card img {
      margin-left: 0px;
      cursor: pointer;
    }
    #crossBtn {
      margin-left: 80vw;
      float: right;
      cursor: pointer;
    }
    .username {
      font-size: 20px;
    }
    .logout-btn {
      width: 150px;
      height: 40px;
  
      border-radius: 20px;
    }
  }