  .progress-container {
    width: 100%;
    height: 10px;
    background-color: #848383;
    border-radius: 10px;
  
    position: relative;
  }
  
  .progress-bar {
    height: 10px;
    position: relative;
  }
  
  .progress-filler {
    height: 10px;
    background-color: #ffffff;
    border-radius: 10px;
  }